.menu-estilo-navegacion{
    background-color: #000000;
}

.menu-estilo-principal {/*ul*/
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    text-align: center;

}

.menu-estilo-principal .menu-estilo{/*li*/
    display: inline-block;
    vertical-align: top;

}

.menu-estilo-principal .menu-estilo .menu{/*a*/
    text-decoration: none;
    font-size: 16px;
    display: block;
    line-height: 60px;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 300;
    color: #fff;
    
    
}

.menu-estilo-principal .menu-estilo .menu:after{/*a con after*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3498DB;
    z-index: -1;
    transform: skewX(-30deg);
    opacity: 0;
    transition: opacity 0.3s;
}
.menu-estilo-principal .menu-estilo:hover .menu,
.menu-estilo-principal .menu-estilo:focus .menu,
.menu-estilo-principal .menu-estilo.active .menu{
    color: 	#FFFFFF;
}

.menu-estilo-principal .menu-estilo:hover .menu:after,
.menu-estilo-principal .menu-estilo:focus .menu:after,
.menu-estilo-principal .menu-estilo.active .menu:after{
    opacity: 1;
}

.modulos{
	position: relative;
	background: #000fff;
	min-height: 80vh;
}




body{
	margin: 0;
	padding: 0;
}

header{
	position: relative;
	z-index: 1;
}

.fondo{
	position: relative;
	width: 100%;
	height: 700px;
}

.banner{
	position: absolute;
	background: 	#FFFFFF;
	top: 30px;
	text-align: center;
	height: 560px;
	width: 50%;
	margin-left: 25%;
}

.banner:before {
	position: absolute;
	content: '';
	width: 200%;
	height: 540px;
	top: -180px;
	left: 130px;
	height: 510px;
	top: -200px;
	left: 160px;
	background: 	#FFFFFF;
	transform: skewY(-57deg);
}
.banner:after {
	position: absolute;
	content: '';
	width: 200%;
	height: 540px;
	top: -180px;
	right: 130px;
	height: 510px;
	top: -200px;
	right: 160px;
	background: 	#FFFFFF;
	transform: skewY(57deg);
}

.banner h1{
	position: relative;
	z-index: 1;
	padding: 50px
}

.seccion2 p{
	padding: 0 150px;
	position: relative;
	z-index: 1;
}
.seccion2 {
	background: #4477ab;
	color: 	#FFFFFF;
	height: 450px;
	width: 100%;
	padding-top: 130px;
	position: relative;
	text-align: center;
}

.seccion2:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: -90px;
	left: 0;
	background: #4477ab;
	transform: skewY(-15deg);
}

.seccion2:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: -90px;
	right: 0;
	background: #4477ab;
	transform: skewY(15deg);
}

.imagen-fija.fondo{
	background-image: url(5f.jpg);
}

.serviciosIndex{
	height: 400px;
}

.info{
	height: 400px;
}

/*Asesoria*/

.seccion1 {
	background: #4477ab;
	color: 	#FFFFFF;
	height: 450px;
	width: 100%;
	padding-top: 130px;
	position: relative;
	text-align: center;
	min-height: 100%;
}

.seccion1:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: -107px;
	left: 0;
	background: #4477ab;
	transform: skewY(15deg);
}

.seccion1:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: -107px;
	right: 0;
	background: #4477ab;
	transform: skewY(-15deg);
}

.textoSeccion1{
	position: relative;
	z-index: 1;
}

.imagen-fija{
	min-height: 80vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.texto-divImagen{
	text-align: center;
}

.imagen-fija.imagen-fija1{
	background-image: url(../img/1f.jpg);
}

.imagen-fija.imagen-fija2{
	background-image: url(../img/4f.jpg);
	background-image: url(1f.jpg);
}

.imagen-fija.imagen-fija2{
	background-image: url(4f.jpg);
}

texto-divImagen1:before{
	background-image: url(4.jpg);
	filter: opacity(30%);
}

.noesperes{
	height: 600px;
}

/*footer*/
footer {
	background: 	#000000;
	color: 	#FFFFFF;
	height: 180px;
	width: 100%;
	position: relative;
	text-align: center;
}

.inside-footer{
	position: relative;
	z-index: 1;
}

footer:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 180px;
	top: -90px;
	left: 0;
	background: 	#000000;
	transform: skewY(-15deg);
}

footer:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 180px;
	top: -90px;
	right: 0;
	background: 	#000000;
	transform: skewY(15deg);
}