body{
	position: relative;
	min-height: 100vh;
}
.btn{
	border-radius: 0%;
}
.menu-estilo-navegacion{
    background-color: #000000

}
.alert{
	/* z-index:1; */
}

.menu-estilo-principal {/*ul*/
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    text-align: center;

}

.menu-estilo-principal .menu-estilo{/*li*/
    display: inline-block;
    vertical-align: top;

}

.menu-estilo-principal .menu-estilo .menu{/*a*/
    text-decoration: none;
    font-size: 11px;
    display: block;
    line-height: 60px;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 300;
    color: #fff;
    
    
}

.menu-estilo-principal .menu-estilo .menu:after{/*a con after*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3498DB;
    z-index: -1;
    transform: skewX(-30deg);
    opacity: 0;
    transition: opacity 0.3s;
}
.menu-estilo-principal .menu-estilo:hover .menu,
.menu-estilo-principal .menu-estilo:focus .menu,
.menu-estilo-principal .menu-estilo.active .menu{
    color: white;
}

.menu-estilo-principal .menu-estilo:hover .menu:after,
.menu-estilo-principal .menu-estilo:focus .menu:after,
.menu-estilo-principal .menu-estilo.active .menu:after{
    opacity: 1;
}

.modulos{
	position: relative;
	background: #000fff;
	min-height: 80vh;
}

.navbar, .navbar-expand-lg{
	padding: 0;
	padding-left: 20px;
}
.dropdown-menu, .dropdown-item{
	z-index: 10;
}


/* fin del menu*/
body{
	margin: 0;
	padding: 0;
}

header{
	position: relative;
	z-index: 1;
}

.fondo{
	height: 700px;
	position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner{
	position: absolute;
	background:#FFFFFF;
	top: 30px;
	text-align: center;
	height: 560px;
	width: 50%;
	margin-left: 25%;
}

.banner:before {
	position: absolute;
	content: '';
	width: 200%;
	height: 540px;
	top: -180px;
	left: 130px;
	background: #FFFFFF;
	transform: skewY(-57deg);
}
.banner:after {
	position: absolute;
	content: '';
	width: 200%;
	height: 540px;
	top: -180px;
	right: 130px;
	background: #FFFFFF;
	transform: skewY(57deg);
}

.banner h1{
	position: relative;
	/* z-index: 1; */
	padding: 50px
}

.seccion2 p{
	padding: 0 150px;
	position: relative;
	z-index: 1;
}
.seccion2 {
	background: #4477ab;
	color: #FFFFFF;
	height: 450px;
	width: 100%;
	padding-top: 130px;
	position: relative;
	text-align: center;
}

.seccion2:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: -90px;
	left: 0;
	background: #4477ab;
	transform: skewY(-15deg);
}

.seccion2:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: -90px;
	right: 0;
	background: #4477ab;
	transform: skewY(15deg);
}

.fondo.imagen-fija5{
	background-image: url(../img/5f.jpg);
}

.serviciosIndex{
	height: 400px;
}

.info{
	height: 400px;
}

/*Asesoria y Investigacion*/

.seccion1 {
	background: #4477ab;
	color: #FFFFFF;
	height: 450px;
	width: 100%;
	padding-top: 130px;
	position: relative;
	text-align: center;
	min-height: 100%;
}

.seccion1:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: -107px;
	left: 0;
	background: #4477ab;
	transform: skewY(15deg);
}

.seccion1:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 200px;
	top: -107px;
	right: 0;
	background: #4477ab;
	transform: skewY(-15deg);
}

.textoSeccion1{
	position: relative;
	z-index: 1;
}

.imagen-fija{
	min-height: 80vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

.texto-divImagen{
	text-align: center;
}

.imagen-fija.imagen-fija1{
	background-image: url(../img/1f.jpg);
}

.imagen-fija.imagen-fija2{
	background-image: url(../img/4f.jpg);
}

.imagen-fija.imagen-fija3{
	background-image: url(../img/3.jpg);
}

.imagen-fija.imagen-fija4{
	background-image: url(../img/7f.jpg);
}

texto-divImagen1:before{
	background-image: url(../img/4.jpg);
	filter: opacity(30%);
}
.texto-divImagenIn{
	text-align: center;
	color:#000000;
	
}


.noesperes{
	height: 600px;
}

.parte1{
	background-color: #FFFFFF;
	position: absolute;
	top: 190px;
	left:0px;
	right:0px;
	height: 200px;
	color:#000000;
	font-family: arial;
	text-align: center;
	-ms-transform: skewy(4deg);
	-webkit-transform: skewy(4deg);
	transform: skewY(4deg);
}

.parte12{
	-ms-transform: skewy(-4deg);
	-webkit-transform: skewy(-4deg);
	transform: skewY(-4deg);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}


/*Escritorios Alvaro*/
textarea{
	resize: none;
}
.filaEscritorio{
	/* float: right;
	width: 85%; */
	min-height: 100vh;
	right:0;
	margin: 0;
	background-image: linear-gradient(rgb(189, 189, 189), rgb(255, 255, 255));
}
.barraLateralEscritorio{
	background-color:  #2B3033;
	min-height: 100vh;
	/* width: 15%;
	min-width: 15%;
	position: absolute; */
	float: left;
	padding-right: 0;
	padding-left: 0;
}
.barraLateralEscritorio .list-group-item{
	color: white;
	width: 100%;
	background-color: #2B3033;
}
.barraLateralEscritorio .list-group-item.active{
	border-color: rgba(0,0,0,.125);
	border-left: 5px solid #3d8fd3;
}
.barraLateralEscritorio .list-group-item:hover{
	border-left: 5px solid #32c21f;
}
.list-group-item:last-child{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.list-group-item:first-child{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.top-bar{
	background: #2B3033;
	color: white;
}
.contentAlv{
	background: rgb(255, 255, 255);
	color: black;
}
.contentAlv1{
	background: rgb(255, 255, 255);
	color: black;
}
.escritorioElem{
	/* background: #4477ab; */
	display: block;
	/* width: 100%; */
	min-width: 300px;
	max-width: 400px;
	height: 200px;
	margin: 20px;
	background-size: auto;/* 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center; */
	background-size: cover;
	background-position: center;	
}
.elemEsc:hover :not(.texElem){
	filter: brightness(80%);
	transition: .3s;
	box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.589);
}
.elemEsc:hover :not(a){
	opacity: 1;
	
}
#imgAse{
	background-image: url(../img/asesoriaescritorio.jpg);
}
#imgSol{
	background-image: url(../img/solicitudesescritorio.jpg);
}
#imgInst{
	background-image: url(../img/cuestionariosescritorio.jpg);
}
#imgCal{
	background-image: url(../img/agendaescritorio.jpg);
}
#imgRep{
	background-image: url(../img/reportesescritorio.jpg);
}
#imgCont{
	background-image: url(../img/clientesescritorio.jpg);
}
#imgPedir{
	background-image: url(../img/botonsolicase.jpg);
}
.escritorioA{
	padding-right: 0;
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
}


.texElem{
	position: absolute;
	top:40%;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 20pt;
	font-weight: bolder;
	text-shadow: 2px 2px black;
	opacity: 0; 
}

.texDet{
	text-align: right;
	width: 100%;
	color: white;
	font-size: 20pt;
	font-weight: bolder;
	text-shadow: 2px 2px black;
	padding-right: 8px;
}

.aMenuLateral, .aMenuLateral:hover{
	color: white;
	text-decoration: none;
}

/*Cuestionarios*/
.listaQuest{
	margin-left: auto;
	margin-right: auto;
}

.aseElem{
	display: block;
	position: relative;
	width: 300px;
	height: 100px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	background: black;
}

.aseElem:hover{
	text-decoration: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.589);
}

.aseElemMsj{
	margin-top: 50px;
	background-image: url(../img/chat.jpg);
}
.aseElemAg{
	background-image: url(../img/agenda.jpg);
}
.aseElemRep{
	background-image: url(../img/reportes.jpg);
}

.listaAsesSolic a{
	color: rgb(53, 76, 119);
	font-size: 20px;
	font-weight: bolder;
}
.listaAsesSolic small{
	color: black;
	float: right;
}

.alert{
	margin: 0;
}

/* mensajes */
.mensajeList{
	color: black;
}
.mensajeList:hover{
	text-decoration: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
}

/*img usuario*/
.userImg{
	border-radius:50%;
	width:80px;
	height:80px;
	margin: 6px 0;
}

/*footer*/
footer {
	margin-top:250px;
	background: #000000;
	color: #FFFFFF;
	height: 180px;
	width: 100%;
	position: relative;
	text-align: center;
}

.inside-footer{
	position: relative;
	z-index: 1;
}

footer:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 180px;
	top: -90px;
	left: 0;
	background: #000000;
	transform: skewY(-15deg);
}

footer:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 180px;
	top: -90px;
	right: 0;
	background: #000000;
	transform: skewY(15deg);
}

/* boton ir arriba */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: 1px solid white;
	outline: none;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }

/*css de estrellas*/
.ec-stars-wrapper {
	/* Espacio entre los inline-block */
	font-size: 0;
	display: inline-block;
  }
  .ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	color: #888;
  }
  .ec-stars-wrapper:hover a {
	color: #2782e4;
	/*-webkit-background-clip: text;*/
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(#10447c, #98c4f2);
  }
  .ec-stars-wrapper a:hover ~ a {
	color: #888;
	-webkit-text-fill-color: #888;
  }

/*----------------Investigadores----------------*/
body{
	font-family: 'Open Sans', sans-serif;
}

.menu-inv{
	/* position: absolute;
	width: 220px; */
	/* height: 45%; */
	min-height: 100vh;
	background: #000000;
	color: #FFFFFF;
	outline: 1px solid #2a2a2a;
}
.menu-inv ul {
	list-style: none;
	padding: 0;/*probar*/
	margin: 0;
}
.menu-inv li{
	outline: 1px solid #2a2a2a;
	transform: all 0.3s;
}
.menu-inv li:hover{
	background: #444444;
	border-left: 5px solid #000fff;

}
.menu-inv a{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
}
.contenido{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #eee;
	padding: 30px;
}
.menu-bar{
	cursor: pointer;
}
.abrir{
	transform: translatex(250px);
}

.logo-icono{
	color: #000fff;
}
/*----------------------------------------------*/

/*----------proyectosinv-------------*/
.solicitudInv{
	height: 70vh;
	color:#000;
	margin: 0px auto;
	padding: 0px;
}
.solii{
	overflow: auto;
}
.investigaciones{
	margin: 0px auto;
}

.separador{
	margin-top:20px; 
	color:#FFF;
}
.boton{
	float:right;
	margin-top:5px; 
	border-radius: 5px;
}
.boton1{
	border-radius: 5px;
}
.datos-inve{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}
/*----------------------------------------------*/

